* {
  font-family: "Inter", sans-serif;
}
.signup {
  padding: 20px 0;
  header {
    display: flex;
    padding: 0 274px;
    justify-content: space-between;
    img {
      width: 40px;
      height: 40px;
    }
    div {
      display: flex;
      align-items: center;
      img {
        margin-right: 20px;
      }
      h4 {
        font-size: 13px;
        margin-right: 8px;
        font-weight: 400;
      }
      button {
        cursor: pointer;
        background-color: rgb(0, 0, 0, 20%);
        border: none;
        color: white;
        padding: 12px;
        border-radius: 4px;
        font-size: 12px;
      }
    }
  }
  main {
    margin-top: 48px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    h1 {
      text-align: center;
      font-size: 29px;
      line-height: 110%;
      color: white;
      font-weight: 300;
      letter-spacing: 1px;
    }
    .signup__wrapper {
      border-radius: 5px;
      margin-top: 35px;
      display: flex;
      background-color: var(--color-background__signup);
      padding: 20px;
      color: var(--color-font__signup);
      .wrapper__left {
        .left__block {
          padding: 40px;
          padding-bottom: 0;
          div {
            display: flex;
            align-items: center;

            img {
              width: 30px;
              height: 30px;
              margin-right: 10px;
            }
            h3 {
              font-size: 23px;
              margin-bottom: 19px;
            }
          }
          h4 {
            font-size: 13px;
            max-width: 350px;
            font-weight: 400;
          }
        }
        .left__block:last-child {
          padding-bottom: 0;
        }
      }
      .wrapper__right {
        form {
          background-color: var(--color-background__form);
          box-shadow: 0px 0px 0px 1px rgba(89, 105, 128, 0.1),
            0px 3px 20px rgba(89, 105, 128, 0.3),
            0px 1px 2px rgba(0, 0, 0, 0.05);
          display: flex;
          flex-direction: column;
          padding: 30px;
          border-radius: 5px;
          color: var(--color-font__form);
          label {
            font-size: 13px;
            margin-bottom: 6.5px;
            span {
              color: red;
            }
          }
          input {
            border-radius: 4px;
            font-size: 14px;
            padding: 11px;
            margin-bottom: 30px;
            background-color: transparent;
            color: var(--color-font__form);
            border: 1px solid var(--color-border__input);
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
            transition: border-color 0.2s;
          }
          input:focus {
            border-color: var(--color-border__inputFocus);
            border-width: 1px;
            border-style: solid;
            outline: none;
          }
          select {
            padding: 8px;
            border: 2px solid var(--color-border__input);

            border-radius: 4px;
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
            transition: border-color 0.2s;
            width: 200px;
            margin-bottom: 30px;
          }
          select:focus {
            border-color: var(--color-border__inputFocus);
            border-width: 2px;
            border-style: solid;
            outline: none;
          }

          option[value=""][disabled] {
            display: none;
          }

          option {
            color: #555;
            padding: 20px 0;
          }

          select:hover {
            border-color: var(--color-border__inputFocus);
          }
          button {
            background-color: #1969ca;
            border-radius: 6px;
            font-size: 13px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: capitalize;
            color: white;
            border: none;
            padding: 15px 75px;
          }
        }
      }
    }
  }
}
@import url(../ThemeColors.scss);
@import url(../adaptive/signup/900px.scss);
@import url(../adaptive/signup/650px.scss);
