* {
  font-family: "Inter", sans-serif;

  li {
    list-style-type: none;
  }
  ul {
    padding: 0;
    margin-bottom: 0;
  }
}
.App {
  background-image: var(--color-background);
  header {
    color: rgb(255, 255, 255);

    .first-row {
      // border-bottom: 2px solid rgb(188, 126, 249);
      border-bottom: 1px solid;
      border-image: var(--color-border__header) 1;
      padding: 0 70px;
      padding-bottom: 16px;
      div {
        display: flex;
        justify-content: space-between;
        img {
          width: 50px;

          position: relative;
          top: 7px;
        }
        .header-nav {
          display: flex;
          align-items: center;
          li {
            margin-right: 70px;
            font-size: 18px;
            line-height: 110%;
            font-weight: 300;
          }
        }
        .header-right {
          display: flex;
          align-items: center;
          padding-right: 0;

          .theme {
            width: 40px;
            height: 40px;
            position: relative;
            // top: 5px;
            cursor: pointer;
          }
          .header-right__lang {
            display: flex;

            padding: 0;
            margin-left: 35px;

            li {
              font-weight: 200;
              font-size: 18px;
              line-height: 110%;
            }
            img {
              width: 32px;
              height: 1px;
              position: relative;
            }
          }
          .header-btn {
            background-color: rgb(255, 179, 16);
            border-radius: 5px;
            padding: 10px;
            text-transform: uppercase;
            font-size: 12px;
            border: none;
            margin: 0;
            margin-left: 35px;
            color: #000;
            font-weight: 300;
            margin-top: 16px;
            cursor: pointer;
          }
          .signup {
            margin-left: 20px;
          }
          .login {
            // padding: 10px;
          }
        }
      }
    }
    .second-row {
      display: flex;
      justify-content: center;
      li {
        padding-right: 35px;
        padding-left: 35px;
        border-right: 1px solid #dddd;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 800;
      }
    }
  }
  main {
    .banner {
      margin: 70px;
      margin-bottom: 100px;
      background-color: var(--color-background__banner);
      padding: 40px 0 40px 40px;
      border-radius: 24px;
      box-shadow: 0 0 0 1px rgb(188, 126, 249);

      .banner__title {
        max-width: 718px;
        font-weight: 400;
        font-size: 79px;
        color: var(--color-font__mainTitle);
        margin-bottom: 32px;
      }
      h2 {
        max-width: 396px;
        color: var(--color-font__banner);
        margin-bottom: 32px;
        font-weight: 400;
        font-size: 20px;
      }
      button {
        // margin-top: 80px;
        background-color: rgb(255, 179, 16);
        border-radius: 10px;
        padding: 15px;
        font-weight: 300;
        font-size: 23px;
        border: none;
        margin-bottom: 8px;
      }
    }
  }
  .lessons {
    margin: 100px 0px;

    .lessons-description {
      text-align: center;

      div {
        display: flex;
        align-items: center;
        justify-content: center;

        h2 {
          font-size: 62px;
          font-weight: 200;
          line-height: 110%;
          letter-spacing: 1px;
          margin: 0;
          margin-bottom: 70px;

          color: var(--color-font__title);
        }
      }
      h3 {
        max-width: 904px;
        margin: 0 auto;
        font-size: 23px;
        font-weight: 400;
        line-height: 150%;
        color: white;
        margin-bottom: 35px;
      }
    }
    .lessons-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 35px;
      margin: 0 auto;
      padding: 0px 40px;

      justify-content: space-evenly;
      .lessons-container__block {
        display: flex;
        padding: 64px 22px;
        justify-content: space-around;
        width: 300px;
        border-radius: 8px;

        h4 {
          font-size: 16px;
          font-weight: 800;
          line-height: 110%;
        }
      }
      .lessons-container__block:not(:nth-child(4)):not(:nth-child(5)) {
        margin-bottom: 35px;
        margin-right: 20px;
      }
    }
  }
  .about {
    background-color: var(--color-background__about);
    border-radius: 27px;
    h2 {
      text-align: center;
      font-size: 62px;
      font-weight: 200;
      color: var(--color-font__title);
      letter-spacing: 1px;
      padding: 70px;
      margin: 0;
    }
    .about-container {
      display: flex;
      justify-content: space-between;
      padding: 0px 115px;
      flex-wrap: wrap;
      padding-bottom: 100px;
      color: var(--color-font__about);
      .container__block {
        margin-right: 30px;
        background-image: var(--color-background__aboutBlock);
        border-radius: 24px;
        width: 500px;
        padding: 10px;
        box-shadow: 0 0 0 2px rgb(188, 126, 249);
        h3 {
          font-weight: 800;
          font-size: 23px;
        }
        h4 {
          max-width: 400px;
          font-weight: 300;
          font-size: 16px;
        }
      }
      .container__block:nth-of-type(-n + 2) {
        margin-bottom: 40px;
      }
    }
  }
  .trial {
    // background-image: linear-gradient( rgba(0,158,228,50%),rgba(76,175,80,1));
    padding: 100px 70px;
    border-radius: 20px;
    // padding-top: 100px;
    // padding-bottom: 100px;
    .trial-header {
      justify-content: space-between;
      display: flex;
      margin-bottom: 70px;
      color: var(--color-font__title);
      align-items: center;
      h2 {
        span {
          color: rgb(188, 126, 249);
        }
        text-transform: uppercase;
        font-size: 62px;
        line-height: 110%;
        font-weight: 200;
        margin: 0;
      }
      div {
        display: flex;

        .trial-header__all {
          text-decoration: dashed;
          font-size: 31px;
          font-weight: 200;
          line-height: 150%;
          margin-right: 10px;
          margin: 0;
          margin-right: 20px;
        }
        img {
          position: relative;

          width: 41px;
        }
      }
    }
    h3,
    h1 {
      margin: 0;
    }
    h3 {
      margin: 0 auto;
      max-width: 900px;
      font-size: 23px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 1px;
      text-align: center;
      margin-bottom: 35px;
      color: #ffff;
    }
    .trial-container {
      display: flex;

      justify-content: space-between;
      text-align: center;
      .trial-container__block {
        background-image: url(../img/sinaqBG.png);
        overflow: hidden;
        background-size: contain;
        background-repeat: no-repeat;
        width: 399px;
        height: 416px;
        align-items: center;
        justify-content: center;
        display: flex;

        overflow: hidden;
        div {
          box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.1),
            0 0 10px 6px rgba(255, 255, 255, 0.08);
          border-radius: 5px;

          div {
            flex-direction: column;
            padding: 36px 76px;
            h4 {
              font-weight: 800;
              font-size: 16px;
              line-height: 130%;
            }
          }
        }
      }
    }
  }
  .bloq {
    padding: 100px 70px;

    color: #ffff;
    padding-top: 0;
    .bloq-header {
      justify-content: space-between;
      display: flex;
      margin-bottom: 70px;
      align-items: center;
      color: var(--color-font__title);
      h2 {
        span {
          color: rgb(188, 126, 249);
        }
        text-transform: uppercase;
        font-size: 62px;
        line-height: 110%;
        font-weight: 200;
        margin: 0;
      }
      div {
        display: flex;
        .bloq-header__all {
          text-decoration: dashed;
          font-size: 31px;
          font-weight: 200;
          line-height: 150%;
          margin: 0;
          margin-right: 20px;
        }
        img {
          width: 41px;
        }
      }
    }
    .bloq-container {
      display: flex;
      justify-content: space-between;

      .bloq-container__block {
        .bloqImg {
          overflow: hidden;
          border-radius: 20px;

          img {
            width: 100%;
          }
        }
        h3 {
          font-size: 23px;
          line-height: 110%;
          font-weight: 400;
        }
        .bloq__type {
          border-radius: 60px;
          padding: 8px;
          background-color: #4caf50;
          width: fit-content;
          font-weight: 300;
        }
        .bloq-type__desc {
          font-weight: 200;
          font-size: 16px;
          line-height: 160%;
          max-width: 358px;
          height: 102px;
        }
      }
      .bloq__data {
        display: flex;
        text-align: center;
        h4 {
          font-size: 12px;
          font-weight: 800;
          // line-height: 200%;
          margin-left: 10px;
        }
      }
    }
  }
  footer {
    padding: 70px;
    border-top: 1px solid;
    border-image: var(--color-border__header) 1;
    // background-image: linear-gradient( rgba(0,158,228,50%),rgba(76,175,80,1));
    background-color: var(--color-background__footer);

    .footer-container {
      color: var(--color-font__footer);
      display: flex;
      justify-content: space-between;

      .footer-container__block {
        h3 {
          font-weight: 800;
          font-size: 23px;
          line-height: 110%;
        }
        h4 {
          font-size: 16px;
          font-weight: 400;
          line-height: 110%;
        }
        img {
          width: 70px;
        }
        .footer-about {
          max-width: 400px;
          margin: 0;
          font-size: 13px;
          line-height: 150%;
          font-weight: 400;
        }
      }
    }
  }
}
@import url(./ThemeColors.scss);
@import url(./adaptive/1200px+.scss) screen;
@import url(./adaptive/media.scss) screen;
@import url(./adaptive/992px.scss) screen;
@import url(./adaptive/768px.scss) screen;
@import url(./adaptive/510px.scss) screen;
@import url(./adaptive/320px.scss) screen;
