:root {
  --color-background: linear-gradient(
    to right,
    rgb(20, 134, 23),
    rgb(12, 58, 78)
  );
  --color-border__header: rgb(255, 255, 255);
  --color-font__title: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  --color-font__mainTitle: rgb(57, 185, 57);
  --color-background__banner: #ebdbfc;
  --color-font__banner: black;
  --color-font__header__all: black;
  // --color-font__description: white;
  // --color-font__header:white;
  --color-font__about: black;
  --color-background__about: #d4a175;
  --color-background__aboutBlock: linear-gradient(
    to right,
    rgb(255, 255, 255, 100%),
    rgb(255, 255, 255, 100%)
  );
  --color-font__footer: black;
  --color-background__footer: white;

  --color-background__login: white;
  --color-font__login: #0e55a7;
  --color-border__login: #4caf50;
}

html[data-theme="dark"] {
  --color-background: linear-gradient(
    to right,
    rgb(0, 0, 0, 100%),
    rgb(5, 44, 61, 100%)
  );
  --color-border__header: linear-gradient(to right, #9845e8, #33d2ff, #dd5789);
  --color-font__title: white;
  --color-font__mainTitle: white;
  --color-background__banner: #06010c;
  --color-font__banner: white;
  --color-font__header__all: linear-gradient(#9845e8, #33d2ff, #dd5789);
  // --color-font__description: white;
  // --color-font__header:white;
  --color-font__about: white;
  --color-background__about: #06010c;
  --color-background__aboutBlock: linear-gradient(
    to right,
    rgb(0, 0, 0, 100%),
    rgb(23, 16, 24, 100%)
  );
  --color-font__footer: white;
  --color-background__footer: black;

  --color-background__login: #06010c;
  --color-font__login: white;
  --color-border__login: linear-gradient(to right, #9845e8, #33d2ff, #dd5789);
}
