@media (max-width: 1100px) {
  .App {
    header {
      .rows {
        .first-row {
          padding: 10px 15px;

          img {
            width: 25px;
            height: 25px;
            top: 0;
          }
          .header-nav {
            margin-top: 0 !important;
            li {
              font-size: 13px;
            }
          }
          .header-right {
            img {
              width: 25px !important;
              height: 25px !important;
              top: 0;
            }
            .header-right__lang {
              position: relative;
              top: 2px;
              margin-top: 0;
              li {
                font-size: 13px;
              }
              img {
                width: 20px !important;
                height: 20px !important;
                margin: 0 5px;
                top: -2px;
              }
            }
            .header-btn {
              padding: 5px 10px;
              font-size: 10px;
              margin-top: 0;
            }
          }
        }
        .second-row {
          li {
            font-size: 10px;
          }
        }
      }
    }
    main {
      .banner {
        .banner__about {
          .banner-about__wrapper {
            h3 {
              max-width: 150px !important;
            }
          }
        }
      }
      .lessons {
        .lessons-description {
          div {
            h2 {
              font-size: 40px !important;
            }
          }
        }

        .lessons-container {
          .lessons-container__block {
            h4 {
              font-size: 10px !important;
            }
            img {
              width: 25px !important;
            }
          }
          .lessons-container__block:nth-child(3) {
            @media (min-width: 1074px) {
              margin-right: 0 !important;
            }
          }
        }
      }
      .underBanner {
        .underBanner__wrapper {
          div {
            div {
              h3 {
                max-width: 250px;
                height: 50px;
              }
            }
            img {
              display: none;
            }
          }
        }
      }
      .about {
        .about-container {
          .about-container__up,
          .about-container__down {
            display: block !important;
            .container__block {
              width: auto !important;
              h4 {
                max-width: 900px !important;
              }
            }
            .right {
              overflow: hidden;
              h4 {
                margin-top: 0 !important;
                float: right;
              }
            }
          }
        }
      }
      .trial {
        .trial__container {
          .container__right {
            button {
              font-size: 11px !important;
            }

            .container__blockimg {
              max-width: 100px !important;
              max-height: 100px !important;
              img {
                width: 20px !important;
              }
              h4 {
                font-size: 10px !important;
              }
            }
          }
        }
      }

      .bloq {
        .bloq-container {
          .bloq-container__block {
            .bloqImg {
              max-width: 250px !important;
            }
            h3 {
              height: 20px !important;
              font-size: 14px !important;
            }

            .bloq-type__desc {
              width: 210px !important;
              height: 120px !important;
              font-size: 13px !important;
            }
          }
        }
      }
      .feedback {
        form {
          input {
            font-size: 13px !important;
            padding: 15px !important;
          }
          button {
            font-size: 13px !important;
            width: 82% !important;
          }
        }
        .feedback__img {
          position: relative;
          height: 200px !important;
          top: 40px !important;

          img {
            position: relative;

            top: 100px !important;
            @media (max-width: 1170px) {
              width: 300px !important;
            }
            @media (max-width: 850px) {
              width: 200px !important;
            }
          }
        }
      }
    }
    footer {
      padding: 35px !important;
      @media (max-width: 900px) {
        padding: 35px 15px !important;
      }
      .footer-container {
        .footer-container__block {
          h3 {
            font-size: 13px !important;
          }
          h4 {
            font-size: 10px !important;
          }
          img {
            width: 40px !important;
            margin-bottom: 5px !important;
          }
        }
      }
    }
  }
}
