@media (max-width: 992px) {
  .App {
    header {
      .first-row {
        padding: 0 35px;
        padding-bottom: 16px;

        div {
          img {
            @media (max-width: 850px) {
              width: 50px;
            }
          }
          .header-nav {
            li:not(:last-child) {
              margin-right: 30px;
            }
          }
          .header-right {
            .theme {
              width: 31px;
            }
            .header-right__lang {
              margin-left: 15px;
            }
          }
        }
      }
    }
    main {
      .banner {
        margin: 35px !important;
        padding: 20px 0 20px 20px !important;
        .banner__title {
          margin: 0 !important;
          font-size: 52px !important;
        }
        h2 {
          margin: 16px 0 !important;
        }
      }
      .lessons {
        padding: 0 35px;
        .lessons-description {
          div {
            h2 {
              font-size: 36px;
            }
          }
          h3 {
            font-size: 13px;
            width: auto;
          }
        }

        .lessons-container {
          padding: 0;
          .lessons-container__block {
            padding: 32px 15px;
          }
        }
      }
      .about {
        h2 {
          font-size: 36px;
          padding: 35px 35px 70px 35px;
        }
        .about-container {
          padding: 0 35px 70px 35px;
          .container__block {
            margin-right: 0;
            width: 300px;
            h3 {
              height: 52px;
            }
          }
        }
      }
      .trial {
        padding: 100px 35px;
        .trial-container {
          .trial-container__block {
            width: 210px;
            height: 210px;
            padding: 0;
            div {
              div {
                padding: 15px;
                h4 {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
      .bloq {
        padding: 100px 35px;
        padding-top: 0;

        .bloq-container {
          .bloq-container__block {
            .bloqImg {
              max-width: 210px;
            }
            h3 {
              height: 31px;
              font-size: 14px;
            }
            .bloq-type__desc {
              width: 210px;
              height: 156px;
            }
          }
        }
      }
    }
    footer {
      padding: 35px !important;
      .footer-container {
        .footer-container__block {
          h4 {
            max-width: 84px;
          }
          img {
            width: 40px !important;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
